@media(max-width: 330px) {
    .course_card .course_footer .instructor_info {
        display: flex;
        width: 100%;
        flex-direction: column;
    }

    .course_card .course_footer .price_info {
        width: 100%;
        text-align: right;
    }

    .course_card .course_footer .instructor_info .left_info {
        width: 100%;
    }
}

@media(max-width: 576px) {
    .course_slider_section{
        padding: 15px;
    }
    .course-slider .slick_left,
.course-slider .slick_right {
    display: none !important;
}
    .partner fieldset {
        width: 90%;
    }
    .seminar_section .left_div {
        padding: 0px 10px 10px 10px;
    }
    .header-carousel .owl-nav .owl-prev {
        left: 0px;
      }
      .header-carousel .owl-nav .owl-next {
        right: 0px;
      }
}

@media(max-width: 768px) {
    .right_menu_item {
        display: none;
    }

    .search_panel {
        display: none;
    }

    .moblie_menu_icon {
        display: flex;
        justify-content: end;
        gap: 20px;
    }

    .moblie_menu_icon a {
        font-size: 30px;
        color: #cb7b00;
    }

    .top_bar ul {
        display: flex;
        justify-content: center;
    }

    .top_bar .right ul {
        display: flex;
        justify-content: center;
    }

    .lang_change {
        display: none;
    }
}

@media(max-width: 992px) {
    .right_menu_item {
        padding-top: 15px;
    }

    .lang_btn_panel_desktop {
        padding-top: 10px;
    }
}
