@media(max-width: 330px) {
    .course_card .course_footer .instructor_info {
        display: flex;
        width: 100%;
        flex-direction: column;
      }
    .course_card .course_footer .price_info {
        width: 100%;
        text-align: right;
      }
      .course_card .course_footer .instructor_info .left_info {
        width: 100%;
      }
}
@media(max-width: 576px) {
    .partner fieldset{
        width: 90%;
    }
    .milestone_section .summary{
        margin-top: 50px;
    }
    .milestone_section .summary .info{
        padding: 30px 20px;
    }
    .event_section .event_wrapper {
        width: 96%;
        margin-left: 2%;
      }
      .event_section .slick_left {
        left: 20px;
      }
}

@media(max-width: 768px) {
    .right_menu_item {
        display: none;
    }

    .search_panel {
        display: none;
    }

    .moblie_menu_icon {
        display: flex;
        justify-content: end;
        gap: 20px;
    }

    .moblie_menu_icon a {
        font-size: 30px;
        color: #cb7b00;
    }

    .top_bar .right ul {
        display: flex;
        justify-content: center;
    }
    .lang_change{
        display: none;
    }
    .about_us_seciton video{
        margin-top: 20px;
    }
}
@media(max-width: 992px){
    .right_menu_item{
        padding-top: 15px;
    }
    .lang_btn_panel_desktop{
        padding-top: 10px;
    }
    .about_us_seciton .nav-tabs {
        gap:10px;
    }
    .about_us_seciton .nav-link{
        padding: 10px 0;
    }
}
