* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    scroll-behavior: smooth;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

ul li {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

body {
    font-family: kohinoorPoppins;
}

/* topbar  */
.top_bar {
    background-color: rgba(244, 148, 1, 1);
    padding: 7px 0;
}

.top_bar ul li {
    display: inline-block;
    color: white;
    padding-right: 10px;
}

.top_bar .right ul {
    display: flex;
    justify-content: end;
}

.top_bar .right ul li a {
    background: #cb7b00;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    color: white;
    display: inline-block;
    font-weight: bold;
}

.top_bar .right .login_register_button {
    margin: 0 !important;
    background-color: white;
    border-radius: 5px;
    padding: 2px 15px;
    color: #cb7b00;
}

/* header  */
header {
    display: inline-block;
    width: 100%;
    background: #ffffff;
    box-shadow: 0px 6px 5px -4px rgba(0, 0, 0, 0.35);
    padding: 10px 0;

}

header .search_box {
    display: inline-block;
    width: 100%;
    position: relative;
}

header .search_inside input {
    display: inline-block;
    width: 100%;
    padding: 10px 80px 10px 18px;
    background: transparent;
    border-radius: 40px;
    border: 1px solid #cb7b00;
}

header .search_inside button {
    position: absolute;
    right: 0px;
    top: 0px;
    background: #cb7b00;
    border-radius: 0px 30px 30px 0px;
    padding: 10px 25px;
    border: none;
}

header .right_menu_item .main_menu_item {
    display: flex;
    justify-content: space-around;
    font-weight: bold;
}

header .right_menu_item .main_menu_item a {
    color: black;
}

/* header .submenu{
    position: relative;
} */
/* header .submenu_item{
    display: block;
} */

.moblie_menu_icon {
    display: none;
}

.lang_change {
    display: inline-block;
    cursor: pointer;
    margin: 0;
    background: white;
    padding: 5px 10px;
    border-radius: 10px;
    border: 2px solid #cb7b00;
}

.lang_change .lang_item_active {
    background: #cb7b00;
    border: 2px solid vwhitesmoke;
    color: white !important;
}

.lang_change .lang_item {
    display: inline-block;
    padding: 3px 5px;
    border-radius: 10px;
    color: black;
}

.language_btn {
    height: 33px;
    margin-top: 7px;
    background: #cb7b00;
    border: 1px solid wheat;
    border-radius: 5px;
    padding: 5px 10px;
    font-weight: 500;
    line-height: 21px;
    align-items: center;
    color: white;
}

.language_btn i {
    position: relative;
    top: 3px;
    font-size: 18px;
}

/* desktop menu  */

.top_header_menu_section {
    display: inline-block;
    width: 100%;
    background: #ffffff;
    box-shadow: 0px 6px 5px -4px rgba(0, 0, 0, 0.35);
    padding: 10px 0;
}

.main_menu_list {
    display: flex;
    justify-content: space-around;
    width: 100%;
    position: relative;
    font-family: kohinoorInter;
}

.main_menu_list .desktop_menu {
    display: inline-block;
    padding: 0px;
}

.main_menu_list .desktop_menu li {
    float: left;
    position: relative;
}

.main_menu_list .desktop_menu li a {
    display: inline-block;
    padding: 20px 10px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 17px;
    color: black;
}

.main_menu_list .desktop_menu li a span {
    display: inline-block;
    margin-left: 7px;
}

.main_menu_list .desktop_menu li:hover {
    background: #cb7b00;
}

.main_menu_list .desktop_menu li:hover a,
.main_menu_list .desktop_menu li:hover svg {
    color: white;
}

.main_menu_list .desktop_menu li:hover .desktop_sub_menu1,
.main_menu_list .desktop_menu li:hover .desktop_sub_menu2 {
    display: block !important;
}

.main_menu_list .desktop_menu li .desktop_sub_menu1 {
    display: none;
    width: 200px;
    margin: 0px;
    padding: 0px;
    background: #cb7b00;
    border-left: 3px solid black;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.04);
    position: absolute;
    top: 57px;
    left: 0px;
    z-index: 9999;
}

.main_menu_list .desktop_menu li .desktop_sub_menu2 {
    display: none;
    width: 200px;
    margin: 0px;
    padding: 0px;
    background: #cb7b00;
    border-left: 3px solid black;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.04);
    position: absolute;
    top: 57px;
    left: 200px;
    z-index: 9999;
}

.main_menu_list .desktop_menu li .desktop_sub_menu1 li,
.main_menu_list .desktop_menu li .desktop_sub_menu2 li {
    display: inline-block;
    width: 100%;
}

.main_menu_list .desktop_menu li .desktop_sub_menu1 li a,
.main_menu_list .desktop_menu li .desktop_sub_menu2 li a {
    display: inline-block;
    width: 100%;
    padding: 10px 15px;
    font-size: 16px;
    line-height: 21px;
    color: black;
    border-bottom: 1px dashed rgba(0, 0, 0, 0.3);

    background: linear-gradient(to left,
            white 50%,
            #cb7b00 50%);
    background-size: 200% 100%;
    background-position: right bottom;

    -webkit-transition: background-position 0.35s ease;
    -moz-transition: background-position 0.35s ease;
    -o-transition: background-position 0.35s ease;
    transition: background-position 0.35s ease;
}

.main_menu_list .desktop_menu li .desktop_sub_menu1 li a:hover,
.main_menu_list .desktop_menu li .desktop_sub_menu2 li a:hover {
    background-position: left bottom;
    color: white;
}

.main_menu_list .desktop_menu li .desktop_sub_menu1_last {
    left: auto;
    right: 220px;
}

.main_menu_list .desktop_menu li .desktop_sub_menu2_last {
    left: auto;
    right: 0;
}

.main_menu_list .desktop_menu li .empty_sub:hover {
    background: none !important;
    box-shadow: none !important;
}

.desktop_sub_menu2 {
    position: absolute;
    top: 57px;
    left: 220px;
    z-index: 9999;
}

.rotate-icon {
    position: relative;
    top: 6px;
    font-size: 24px;
    color: #cb7b00;
    left: -10px;
    transition: transform 0.3s;
    /* Add a smooth transition for the rotation */
}

.rotate {
    transform: rotate(180deg);
    /* Apply the rotation to elements with the "rotate" class */
}


/* animation button  */
.animation_btn {
    display: inline-block;
}

.animation_btn a {
    background-color: #cb7b00;
    border: 1px solid #cb7b00;
    color: white;
    padding: 8px 35px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    background-size: 100% 200%;
    background-image: linear-gradient(to bottom, #cb7b00 50%, #fff 50%);
    -webkit-transition: background-position .6s;
    -moz-transition: background-position .6s;
    transition: background-position .6s;
    border-radius: 12px;
    margin-right: 10px;
}

.animation_btn a:hover {
    background-position: 0 -100%;
    color: #000;
    border: 1px solid #cb7b00;
}

/* Authorized Partners */
.partner {
    background: #fdfcf6;
}

.partner fieldset {
    border: 2px solid rgba(243, 146, 0, 1);
    border-radius: 10px;
    padding: 20px 10px;
}

.partner fieldset legend {
    float: none;
    width: auto;
    display: inline-block;
    margin-left: 20px;
    position: relative;
    padding: 0px 10px;
}

.partner fieldset legend .left_circle,
.partner fieldset legend .right_circle {
    height: 12px;
    width: 12px;
    background: #cb7b00;
    position: absolute;
    border-radius: 50%;
    top: 12px;
}

.partner fieldset legend .left_circle {
    left: -10px;
}

.partner fieldset legend .right_circle {
    right: -10px;
}

.partner_wrap img {
    max-width: 200px;
}

fieldset .item {
    width: 200px;
    float: left;
}


.client_slick_section {
    padding: 30px 0;
}

.client_slick_section {
    min-height: 10vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
}

.client_slick_section .slick-track {
    display: flex;
    gap: 10px;
}

.client_slick_section .item {
    height: 120px;
    position: relative;
}

.client_slick_section .item img {
    max-width: 95%;
    max-height: 100px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.client_slick_section .slick_left svg {
    font-size: 20px;
    position: relative;
    top: -8px;
    left: 8px;
}

.client_slick_section .slick_right svg {
    font-size: 20px;
    position: relative;
    top: -8px;
    right: -8px;
}

.client_slick_section .slick_right {
    position: absolute;
    color: white;
    width: 30px;
    height: 30px;
    background: #cb7b00;
    border-radius: 50%;
    line-height: 50px;
    display: inline-block;
    cursor: pointer;
    top: 55%;
    transform: translate(-50%, -50%);
    right: -10px;
    z-index: 1;
}

.client_slick_section .slick_left {
    position: absolute;
    color: white;
    width: 30px;
    height: 30px;
    background: #cb7b00;
    border-radius: 50%;
    line-height: 50px;
    display: inline-block;
    cursor: pointer;
    top: 55%;
    left: 20px;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.partner_wrap {
    width: 96%;
    margin-left: 2%;
    margin-right: 2%;
    overflow: hidden;
}

/* course panel  */
.course_panel {
    background: #f5f5f5;
}

.course_card {
    border: 1px solid transparent;
    border-radius: 25px;
    overflow: hidden;
}

.course_card .course_header {
    position: relative;
}

.course_card .course_header img {
    max-height: 240px;
    width: 100%;
}

.course_card .course_header .timer {
    position: absolute;
    top: 15px;
    right: 20px;
    background: white;
    padding: 2px 11px;
    border-radius: 5px;
}

.course_card .course_body {
    background: white;
    padding: 20px;
}

.course_card .course_body .course_category {
    background: rgba(244, 148, 1, 0.33);
    padding: 2px 11px;
    border-radius: 5px;
    width: fit-content;
}

.course_card .course_body .course_name {
    display: flex;
    justify-content: space-between;
    min-height: 57px;
}

.course_card .course_name img {
    height: 24px;
    width: 24px;
}

.course_card .course_footer .instructor_info {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
}

.course_card .course_footer .instructor_info .left_info {
    display: flex;
    gap: 10px;
    width: 80%;
}

.course_card .course_footer .instructor_info img {
    height: 45px;
    width: 45px;
    border-radius: 50%;
}

.course_card .course_footer .price_info {
    width: 20%;
}

.course_card .price_info strong {
    color: rgba(244, 148, 1, 1);
    font-size: 20px;
    line-height: 1px;
}

.course_panel .nav-tabs {
    display: flex;
    justify-content: center;
}

.course_panel .nav-link {
    color: black;
}

.course_panel .nav-link.active {
    background: #cb7b00;
    color: white;
}

.course_panel .nav-link:hover {
    background: #cb7b00;
    color: white;
}

/* about us  */
.about_us_seciton {
    background: #fef9e8;
}

.about_us_seciton .nav-tabs {
    display: flex;
    flex-direction: column;
    border-bottom: none;
    gap: 20px;
}

.about_us_seciton .nav-link {
    width: 100%;
    border: none;
    box-shadow: 0px 6px 5px -4px rgba(0.35, 0, 0, 0.35);
    background: white;
    color: black;
    font-weight: bold;
    padding: 15px 0px;
}

.about_us_seciton .nav-link.active {
    background: rgba(243, 146, 0, 1);
    color: white;
}


.about_us_seciton video {
    border-radius: 10px;
}

/* milestone  */
.milestone_section {
    background: #f5f5f5;
}

.milestone_section .summary {
    width: 100%;
    position: relative;
}

.milestone_section .summary .info {
    width: 46%;
    float: left;
    margin-bottom: 20px;
    margin: 2%;
    padding: 50px 20px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.milestone_section .summary p {
    margin-bottom: 0;
}

.info_bg1 {
    background: #e3fdf2;
}

.info_bg2 {
    background: #f7cfd2;
}

.info_bg3 {
    background: #eae9f8;
}

.info_bg4 {
    background: #fff8c0;
}

.info_bg5 {
    background: #cb7b00;
}

/* video default  */
video {
    border-radius: 10px;
}

video[poster] {
    object-fit: cover;
}

.youtube_video_wrapper {
    position: relative;
    overflow: hidden;
    max-width: 100%;
    padding-bottom: 56.25%;
    height: 0;
    height: auto;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    border-radius: 10px;
}

.youtube_video_wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* success_story_section */
.success_story_section {
    background: #fdfcf6;
}

/* event_section */
.event_section .event_wrapper {
    width: 98%;
}

.event_section .event_card {
    padding: 10px 10px;
    border-radius: 9px;
}

.event_section .slick_right,
.event_section .slick_left {
    position: absolute;
    color: white;
    width: 30px;
    height: 30px;
    background: #cb7b00;
    border-radius: 50%;
    line-height: 50px;
    display: inline-block;
    cursor: pointer;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.event_section .slick_right {
    right: -10px;
}

.event_section .slick_left {
    left: 10px;
}

.event_section .slick_left svg {
    font-size: 20px;
    position: relative;
    top: -8px;
    left: -3px;
}

.event_section .slick_right svg {
    font-size: 20px;
    position: relative;
    top: -8px;
    right: 3px;
}

/* mentor */
.mentor_section .mentor_card {
    position: relative;
    padding: 15px 15px 0;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.mentor_section .mentor_card .border_bg {
    height: 150px;
    width: 150px;
    background: #fbaa2e;
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
}

.mentor_section .mentor_card .mentor_head {
    position: relative;
    z-index: 2;
}

.mentor_card .mentor_head img {
    border-radius: 10px;
}

.mentor_body {
    background: white;
    display: inline-block;
    height: 100%;
    position: relative;
    width: 100%;
    top: -25px;
}

.mentor_body::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    height: 35%;
    background: white;
    clip-path: polygon(0 0, 50% 100%, 100% 0);
    rotate: 180deg;
    z-index: 3;
}

.mentor_info {
    position: relative;
    top: 25px;
}

.seminar_section {
    background: #f5f5f5;
}

.seminar_section img {
    border-radius: 10px;
}

.seminar_section .left_div {
    background: rgba(253, 233, 202, 1);
    padding: 0;
    border-radius: 20px;
}

.seminar_section .seminar_info {
    border-radius: 20px;
    width: 100%;
}

.seminar_info .date {
    width: 150px;
    float: left;
    text-align: center;
    padding: 29px 0;
}

.seminar_info .inside {
    width: calc(100% - 150px);
    background: white;
    border-radius: 20px;
    padding: 15px 20px;
    float: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.seminar_info .inside .time_paragraph {
    margin: 0;
}

/* Testimonial */
.testimonial_section {
    background: #fef9e8;
}

/* .testimonial_section .testimonial_wrapper{
    
}
.testimonial_section .testimonial_card{
    display: flex;
    padding: 20px 30px;
}
.testimonial_card .slick-slide img{
    display: inline-block !important;
} */




.feedback_card {
    padding: 20px;
    border-radius: 10px;
    /* width: 98%;
    margin-left: 1%; */
    min-height: 342px;
}

.feedback_card .info_box {
    position: relative;
    background: white;
    box-shadow: 0 0 2px #fff;
    border-radius: 10px;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 10px 20px;
}

.feedback_card .info_box img {
    max-width: 250px;
    border-radius: 10px;
    margin: 0 auto;
    position: absolute;
    left: 0px;
    box-shadow: 0 0 2px #fff;
}

.feedback_card .info_box .description {
    position: absolute;
    left: 270px;
}

.feedback_card .info_box svg {
    background: #fde9ca;
    padding: 6px;
    border-radius: 19px;
    position: relative;
    top: 5px;
}

.feedback_card .info_box i {
    color: #cb7b00;
}

.testimonial .slick_left,
.testimonial .slick_right {
    z-index: 999 !important;
}

.testimonial .slick_left svg {
    font-size: 20px;
    margin: 10px 2px;
    color: black;
}

.testimonial .slick_right svg {
    font-size: 20px;
    margin: 10px 2px;
    color: black;
}

.testimonial .slick_right {
    position: absolute;
    bottom: -5px;
    right: 9px;
    color: white;
    width: 40px;
    height: 40px;
    background: white;
    border-radius: 50%;
    line-height: 50px;
    display: inline-block;
    cursor: pointer;
}

.testimonial .slick_left {
    position: absolute;
    bottom: -5px;
    right: 55px;
    color: white;
    width: 40px;
    height: 40px;
    background: white;
    border-radius: 50%;
    line-height: 50px;
    display: inline-block;
    cursor: pointer;
}

.cta_section .row {
    background: linear-gradient(90deg, #050505 0%, #0C0E1B 34.38%, #0A0217 94.79%);
    border-radius: 10px;
    padding: 20px 0px;
    width: 80%;
    margin: 0 auto;
}

.cta_section .cta_btn {
    background: #cb7b00;
    color: white;
    font-weight: bold;
}

.cta_section .cta_btn svg {
    margin-left: 0px !important;
}

.cta_section p,
.cta_section small {
    color: whitesmoke;
    margin: 0;
}

.cta_section p {
    font-size: 24px;
}

footer {
    background: rgba(16, 24, 40, 1);
}

footer p {
    color: whitesmoke;
}

footer .social_link_ul {
    display: flex;
    gap: 10px;
    list-style: none;
    padding: 0;
    margin: 0;
}

footer .social_link_ul li a {
    background: rgba(32, 37, 45, 1);
    border-radius: 50%;
    height: 40px;
    width: 40px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    text-decoration: none;
}

footer .social_link_ul li a:hover {
    background: #cb7b00;
}

footer p {
    text-align: justify;
    color: rgba(189, 188, 188, 1);
}

footer .footer_courses a,
footer .footer_others a {
    display: block;
    color: rgba(189, 188, 188, 1);
    line-height: 40px;
}

footer .footer_courses a:hover,
footer .footer_others a:hover {
    color: whitesmoke;
}

footer .footer_courses svg,
footer .footer_others svg {
    margin-right: 5px;
}

footer .footer_address {
    color: rgba(189, 188, 188, 1);
}

footer .footer_address div {
    display: flex;
    gap: 15px;
}

footer .footer_address svg {
    font-size: 20px;
    color: #f39400;
    border-radius: 16px;
    padding: 3px;
}

footer .footer_address div:hover p,
footer .footer_address div:hover svg {
    color: whitesmoke;
}

footer hr {
    color: wheat;
}


.course_details_panel ul li {
    line-height: 36px;
}

.header-carousel .owl-nav {
    position: absolute;
    top: 45%;
    transform: translateY(-50%);
    display: flex;
    width: 100%;
    justify-content: space-between;
    height: 0px;
}

.header-carousel .owl-nav .owl-prev,
.header-carousel .owl-nav .owl-next {
    margin: 7px 0;
    width: 45px;
    height: 45px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    background: #cb7b00;
    border-color: #cb7b00;
    /* border: 1px solid #FFFFFF; */
    border-radius: 50%;
    font-size: 22px;
    transition: .5s;
}

.header-carousel .owl-nav .owl-prev {
    left: -50px;
}

.header-carousel .owl-nav .owl-next {
    right: -50px;
}

.header-carousel .owl-nav .owl-prev:hover,
.header-carousel .owl-nav .owl-next:hover {
    background: transparent;
    border: 1px solid #cb7b00;
}

.plr20 {
    padding-right: 20px;
    padding-left: 20px;
}

.testimonial_section .testimonial{
    background: #fde9ca ;
    padding: 30px 32px 30px 90px;
    margin: 50px 20px 50px 120px;
    border-radius: 0 100px 100px 0;
    color: #fff;
    position: relative;
    border: 5px solid #fbaa2e;
}
.testimonial_section .testimonial .pic{
    width: 210px;
    height: 210px;
    line-height: 180px;
    border-radius: 50%;
    border: 14px solid #fbaa2e;
    position: absolute;
    top: -15px;
    left: -120px;
    overflow: hidden;
}
.testimonial_section .testimonial .pic img{
    width: 100%;
    height: 100%;
}
.testimonial_section .testimonial .testimonial-info{
    display: inline-block;
    width: 35%;
    float: left;
    font-size: 20px;
    font-weight: 700;
    color: black;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    padding: 28px 25px;
    margin: 0;
    border-right: 1px solid #D0AB6D;
}
.testimonial_section .testimonial .testimonial-info small{
    display: block;
    font-size: 12px;
    color: black;
    margin-top: 5px;
}
.testimonial_section .testimonial .description {
    display: inline-block;
    width: 65%;
    font-size: 15px;
    color: black;
    letter-spacing: 0.5px;
    margin-bottom: 0;
    padding: 28px 0 28px 28px;
    position: relative;
}

.testimonial_section .testimonial .description:before {
    content: "\201C"; /* Left double quotation mark */
    position: absolute;
    top: 0;
    left: 10px;
    font-size: 40px; /* Increased font size */
    color: black;
}

.testimonial_section .testimonial .description:after {
    content: "\201D"; /* Right double quotation mark */
    font-size: 40px; /* Increased font size */
    color: black;
    position: absolute;
    bottom: 5px;
}


.testimonial_section .owl-theme .owl-controls .owl-page.active span,
.testimonial_section .owl-theme .owl-controls .owl-page span{
    width: 25px !important;
    height: 7px !important;
    background: black !important;
    box-sizing: content-box;
}
.testimonial_section .owl-theme .owl-controls .owl-page span{
    border: 4px solid transparent;
    background: #fbaa2e !important;
}
@media only screen and (max-width: 767px){
    .testimonial_section .testimonial{
        border-radius: 40px;
        margin: 90px 15px 0;
        padding: 100px 40px 30px 40px;
    }
    .testimonial_section .testimonial .pic{
        position: absolute;
        top: -85px;
        left: 0;
        right: 0;
        margin: 0 auto;
    }
    .testimonial_section .testimonial .testimonial-info{
        width: 100%;
        float: none;
        border-right: none;
        text-align: center;
        border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    }
    .testimonial_section .testimonial .description{
        width: 100%;
    }
}
@media only screen and (max-width: 480px){
    .testimonial_section .testimonial{ padding: 100px 30px 30px; }
}
.course_slider_section{
    padding: 50px 0;
    background-color: #16010d;
}
h1{
    font-family: kohinoorInter;
    color: #f49401;
    text-align: center;
  }
  /* Slider */
  
  .slick-slide {
      margin: 0px 10px;
  }
  
  .slick-slide img {
      width: 100%;
      border-radius: 10px;
  }
  
  .slick-slider
  {
      position: relative;
      display: block;
      box-sizing: border-box;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
              user-select: none;
      -webkit-touch-callout: none;
      -khtml-user-select: none;
      -ms-touch-action: pan-y;
          touch-action: pan-y;
      -webkit-tap-highlight-color: transparent;
  }
  
  .slick-list
  {
      position: relative;
      display: block;
      overflow: hidden;
      margin: 0;
      padding: 0;
  }
  .slick-list:focus
  {
      outline: none;
  }
  .slick-list.dragging
  {
      cursor: pointer;
      cursor: hand;
  }
  
  .slick-slider .slick-track,
  .slick-slider .slick-list
  {
      -webkit-transform: translate3d(0, 0, 0);
         -moz-transform: translate3d(0, 0, 0);
          -ms-transform: translate3d(0, 0, 0);
           -o-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
  }
  
  .slick-track
  {
      position: relative;
      top: 0;
      left: 0;
      display: block;
  }
  .slick-track:before,
  .slick-track:after
  {
      display: table;
      content: '';
  }
  .slick-track:after
  {
      clear: both;
  }
  .slick-loading .slick-track
  {
      visibility: hidden;
  }
  
  .slick-slide
  {
      display: none;
      float: left;
      height: 100%;
      min-height: 1px;
  }
  [dir='rtl'] .slick-slide
  {
      float: right;
  }
  .slick-slide img
  {
      display: block;
  }
  .slick-slide.slick-loading img
  {
      display: none;
  }
  .slick-slide.dragging img
  {
      pointer-events: none;
  }
  .slick-initialized .slick-slide
  {
      display: block;
  }
  .slick-loading .slick-slide
  {
      visibility: hidden;
  }
  .slick-vertical .slick-slide
  {
      display: block;
      height: auto;
      border: 1px solid transparent;
  }
  .slick-arrow.slick-hidden {
      display: none;
  }

  .course-slider .slick_left,
.course-slider .slick_right {
    z-index: 999 !important;
}


.course-slider .slick_right {
    position: absolute;
    top: 50%;
    right: -33px;
    transform: translate(-50%, -50%);
    color: white;
    width: 40px;
    height: 40px;
    background: #cb7b00;
    border-radius: 50%;
    line-height: 50px;
    display: inline-block;
    cursor: pointer;
}

.course-slider .slick_right svg, .course-slider .slick_left svg{
    margin-left: 11px;
  font-size: 25px;
}

.course-slider .slick_left {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translate(-50%, -50%);
    color: white;
    width: 40px;
    height: 40px;
    background: #cb7b00;
    border-radius: 50%;
    line-height: 50px;
    display: inline-block;
    cursor: pointer;
}